<div #map class="map_container expand_content">
    <!-- comments explaining #canvasOverlay inmap.component.ts -->
    <canvas #canvasOverlay class="expand_content canvas_overlay"></canvas>
    <!-- Iframe copy pasted from google maps so loading and refferpolicy is not code written by me -->
    <!-- <iframe class="expand_content map" [src]="map_url" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe> -->

    <!-- add google maps api key -->
    <!-- <script [src]="map_url">
        google.maps.importLibrary("maps");
        google.maps.importLibrary("marker");
    </script> -->
    <google-map class="expand_content map" [options]="options"></google-map>
</div>
<button (click)="screenshotMap()">Capture Map</button>