.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    font-size: 16px;
    color: #aaa;
    margin: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.drop-zone.drag-over {
    border-color: blue;
    background-color: aquamarine;
}

.file-item {
    padding: 0.3px;
    margin: 5px;
    border: 1px solid purple;
    font-size: 0.9em;
    color: black;
}