<!-- Event binding to call method from home.page.ts https://angular.dev/guide/templates/event-listeners -->
<form (submit)="onSubmit($event)">
  <!-- Possible types of data https://www.w3schools.com/html/html_form_input_types.asp -->
  <!-- Accept attribute https://www.w3schools.com/tags/att_input_accept.asp -->
  <ion-button type="submit">
    Submit
  </ion-button>
</form>

<!-- Angular's way to trap event into class for css discovered in A.C.P.A.D. module in semester 1 -->
<!-- [class.drag-over]="isDragOver" -->

<div 
  class="drop-zone"
  [class.drag-over]="isDragOver"
  (dragover)="onDragOver($event)" 
  (dragleave)="onDragLeave($event)" 
  (drop)="onDrop($event)">

  <div class="file-list">
    <div *ngIf="(fileService.files$ | async)?.length; else promptText">
      <div *ngFor="let file of fileService.files$ | async" class="file-item">
        {{ file.file.name }}
      </div>
    </div>
    
    <ng-template #promptText>
      Drag & drop files here<br>or click to select
    </ng-template>
  </div>
</div>